/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 juil. 2017, 13:17:50
    Author     : hugues
*/

/*--------- titre name product ---------*/
.title_add {
    margin-left: 10px;
}

/*----------------- overide avatar product ------------*/ 
ul.messages li img.avatar, img.avatar {
  height: 32px;
  width: 32px;
  float: left;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
  background: none;
  border: none;
}

left_col scroll-view {
    cursor: pointer !important;
}

///////////////////////////
/////////////////////////

/*----------------- icon-food ------------*/ 

.icon_food {
   height: 45px;
   width: 45px;
   display: inline-block;
   margin: 10px;
}